
body {
    font-family: sans-serif;
    background-color: #e1e2ea;
    margin-top: 60px;
}

.container {
    max-width: 800px;
    margin: auto;
    color: #505050;
    font-family: sans-serif;
    padding-right: 20px;
    padding-left: 20px;
}

.dropdown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b3b3b3;
    float:left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
li a:hover, .dropdown2:hover .dropbtn {
    background-color: #36526b;
    text-decoration:none;
}

li.dropdown2 {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: darkgray;
    padding: 12px 16px;
    text-decoration: none;
    border-bottom: 1px solid lightgray;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown2:hover .dropdown-content {
    display: block;
}

h3 {
    text-decoration:underline;
}

.center {
    text-align: center;
}

.img-medium {
    height: 200px;
}

button:hover {
    background-color:pink;
    color: green;

}
#dateDiv, #timeDiv {
    color:green;
    float: right;
}
#greeting {
    text-shadow: 1px 1px #ff6d6d;
}
