
body {
    font-family: sans-serif;
    background-color: #e1e2ea;
    margin-top: 60px;
}
h3 {
    text-decoration:underline;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container {
    max-width: 800px;
    margin: auto;
    color: #505050;
    font-family: sans-serif;
    padding-right: 20px;
    padding-left: 20px;
}
button:hover {
    background-color:pink;
    color: green;
    
}
#dateDiv #timeDiv {
    color:green;
    float: right;
}
#greeting {
    text-shadow: 1px 1px #ff6d6d;
}